.blog{
    max-width: 980px;
    margin: 90px auto 100px auto;

    h3{
        font-family: 'Proxima';
        font-size: 40px;
        width: 106px;
        border-bottom: black solid 2px;
    }

    .blog-imgs{
        max-width: 980px;
        display: flex;

        .date{
            width: 60px;
            height: 60px;
            background-color: $site-blue;
    

            h1, h2{
                color: $white;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                margin-left: 18px;
            }

            h1{
                margin-top: 10px;
                font-size: 22px;
            }

            h2{
                margin-top: -15px;
                font-size: 12px;

            }
        }


        .header-img{
            margin-left: 20px;
            width: 94%;
            height: 258px;

            background-image: url(../img/blog.jpg);
            background-size: cover;
            background-position: center;
        }
    }

    .blog-text{
        margin-top: 20px;
        margin-left: 80px;
        margin-bottom: 100px;

        h5{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 15px;
        }

        p{
            width: 380px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 15px;
            color: $site-blue;
        }
    }
}

@media only all and (max-width: 1000px){
    .blog{
        padding-left: 20px;
        padding-right: 20px;
    }
}